project: default
destination:
  server: https://kubernetes.default.svc
  namespace: default
syncPolicy:
  automated:
    prune: true
    selfHeal: true

sources:
  - repoURL: https://github.com/ravidn1224/ravid-retail-store-app
    path: src/ui/chart
    targetRevision: main

  - repoURL: https://github.com/ravidn1224/retail-store-gitops
    path: apps/ui
    targetRevision: main
    directory:
      recurse: false

helm:
  valueFiles:
    - values.yaml
