replicaCount: 1

image:
  repository: 630019796862.dkr.ecr.eu-central-1.amazonaws.com/ravid-retail-store-ui
  tag: "ca8de84"
  pullPolicy: Always

imagePullSecrets:
  - name: ecr-secret

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    memory: 512Mi

livenessProbe:
  path: /actuator/health/liveness
  initialDelaySeconds: 20
  periodSeconds: 10

readinessProbe:
  path: /actuator/health/readiness
  initialDelaySeconds: 10
  periodSeconds: 10
