replicaCount: 1

image:
  repository: "630019796862.dkr.ecr.eu-central-1.amazonaws.com/ravid-retail-store-ui"
  tag: "latest"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    memory: 512Mi

livenessProbe:
  httpGet:
    path: /actuator/health/liveness
    port: 8080
  initialDelaySeconds: 20
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /actuator/health/readiness
    port: 8080
  initialDelaySeconds: 10
  periodSeconds: 10

imagePullSecrets:
  - name: ecr-secret
