apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: retail-store-dependencies
  namespace: argocd

spec:
  project: default

  source:
    repoURL: https://github.com/ravidn1224/retail-store-gitops.git
    targetRevision: main
    path: apps/dependencies  

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
