replicaCount: 1

image:
  repository: 630019796862.dkr.ecr.eu-central-1.amazonaws.com/ravid-retail-store-catalog
  tag: "ca8de84"
  pullPolicy: Always

imagePullSecrets:
  - name: ecr-secret

service:
  type: ClusterIP
  port: 8080

livenessProbe:
  path: /health
  initialDelaySeconds: 10
  periodSeconds: 10

readinessProbe:
  path: /health
  initialDelaySeconds: 5
  periodSeconds: 10

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    memory: 256Mi
