apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: retail-store-checkout
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io

spec:
  project: default

  source:
    repoURL: https://github.com/ravidn1224/ravid-retail-store-app
    targetRevision: main
    path: src/checkout/chart
    

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
